---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=random&client_id=e9cehyndwubggjp&client_secret=<DROPBOX
        APP SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-dropbox-response-origin:
      - far_remote
      x-dropbox-request-id:
      - 724cbe32115e48b599d8304e95dfc17c
    body:
      encoding: UTF-8
      string: '{"error": "invalid_grant", "error_description": "refresh token is malformed"}'
  recorded_at: Thu, 21 Nov 2024 07:21:51 GMT
- request:
    method: post
    uri: https://api.dropbox.com/2/team/members/list_v2
    body:
      encoding: UTF-8
      string: '{"include_removed":true,"limit":20}'
    headers:
      Authorization:
      - "<Bearer token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-dropbox-request-url:
      - "/2/team/members/list_v2"
      x-dropbox-response-origin:
      - far_remote
      x-dropbox-request-id:
      - 16f5955aa1b64451add5dd30af1f22a6
    body:
      encoding: UTF-8
      string: 'Error in call to API function "team/members/list_v2": Invalid authorization
        value in HTTP header/URL parameter'
  recorded_at: Thu, 21 Nov 2024 07:21:51 GMT
recorded_with: VCR 6.3.1
