<h1> Connection details</h1>
<h2> Connection id: <%=@conn.id%>, connects to <%= @app.name %> application</h2>
<h3> Number of accounts: <%= @conn.accounts.length %></h3>
<% @conn.accounts.each do |acc|%>
    <li>
      <%= acc.email %>
    </li>
<%end%>