---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      DD_API_KEY:
      - "<DATADOG_API_KEY>"
      DD_APPLICATION_KEY:
      - "<DATADOG_APP_KEY>"
      DD_SITE:
      - datadoghq.com
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"users","id":"ce53988d-ad1d-11ed-b613-4284af52a2d6","attributes":{"name":"\u7530\u4e2d
        \u512a\u6a39","handle":"a@aaaa.com","created_at":"2023-02-15T10:45:04.560328+00:00","modified_at":"2023-03-03T04:42:20.630548+00:00","email":"a@aaaa.com","icon":"https://secure.gravatar.com/avatar/0e4a3d30a4797cd4a11a110181d20dae?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"59c9fe3c-30ab-11ec-922a-da7ad0900002"}}}}],"meta":{"page":{"total_count":161,"total_filtered_count":161,"max_page_size":1000}}}

        '
  recorded_at: Tue, 26 Nov 2024 09:59:45 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      DD_API_KEY:
      - "<DATADOG_API_KEY>"
      DD_APPLICATION_KEY:
      - "<DATADOG_APP_KEY>"
      DD_SITE:
      - datadoghq.com
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"users","id":"ce53988d-ad1d-11ed-b613-4284af52a2d6","attributes":{"name":"\u7530\u4e2d
        \u512a\u6a39","handle":"a@aaaa.com","created_at":"2023-02-15T10:45:04.560328+00:00","modified_at":"2023-03-03T04:42:20.630548+00:00","email":"a@aaaa.com","icon":"https://secure.gravatar.com/avatar/0e4a3d30a4797cd4a11a110181d20dae?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"59c9fe3c-30ab-11ec-922a-da7ad0900002"}}}}],"meta":{"page":{"total_count":161,"total_filtered_count":161,"max_page_size":1000}}}

        '
  recorded_at: Tue, 26 Nov 2024 09:59:46 GMT
recorded_with: VCR 6.3.1
