---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      DD_API_KEY:
      - "<DATADOG_API_KEY>"
      DD_APPLICATION_KEY:
      - "<DATADOG_APP_KEY>"
      DD_SITE:
      - datadoghq.com
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"users","id":"ce53988d-ad1d-11ed-b613-4284af52a2d6","attributes":{"name":"\u7530\u4e2d
        \u512a\u6a39","handle":"a@aaaa.com","created_at":"2023-02-15T10:45:04.560328+00:00","modified_at":"2023-03-03T04:42:20.630548+00:00","email":"a@aaaa.com","icon":"https://secure.gravatar.com/avatar/0e4a3d30a4797cd4a11a110181d20dae?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"59c9fe3c-30ab-11ec-922a-da7ad0900002"}}}},{"type":"users","id":"d3c68b4c-5eff-11ec-ae12-da7ad0900002","attributes":{"name":"\u592a\u90ce
        test","handle":"aaaa@taskel.it","created_at":"2021-12-17T06:09:00.430567+00:00","modified_at":"2021-12-17T06:21:09.795708+00:00","email":"aaaa@taskel.it","icon":"https://secure.gravatar.com/avatar/bb61713697d1665642c442d9bd83d0c0?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login[...]
