<h3> Employee List </h3>

<%if @employees.length == 0%>
<h3>None yet</h3>
<%=link_to "Connect to Google Workspaces", "https://accounts.google.com/o/oauth2/auth?access_type=offline&client_id=275918590791-if8f6h40ithej7t591jq7gu3kavfsvn1.apps.googleusercontent.com&include_granted_scopes=true&redirect_uri=http://localhost:3000/oauth_callback/GoogleWorkspace&response_type=code&scope=https://www.googleapis.com/auth/admin.directory.user.readonly" %>
<%else%>
    <% @employees.each do |emp|%>
        <li>
            <%= link_to emp.name, employee_path(emp.id)%>
        </li>
    <%end%>
<%end%>