---
http_interactions:
- request:
    method: get
    uri: https://us.sentry.io/api/0/organizations/taskel-01/members/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Bearer token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      link:
      - <https://us.sentry.io/api/0/organizations/taskel-01/members/?&cursor=100:-1:1>;
        rel="previous"; results="false"; cursor="100:-1:1", <https://us.sentry.io/api/0/organizations/taskel-01/members/?&cursor=100:1:0>;
        rel="next"; results="false"; cursor="100:1:0"
      allow:
      - GET, POST, HEAD, OPTIONS
      x-sentry-rate-limit-remaining:
      - '39'
      x-sentry-rate-limit-limit:
      - '40'
      x-sentry-rate-limit-reset:
      - '1731565714'
      x-sentry-rate-limit-concurrentremaining:
      - '24'
      x-sentry-rate-limit-concurrentlimit:
      - '25'
      content-language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"11308777","email":"t.fujita+0713@taskel.it","name":"Tomoyo","user":{"id":"2063542","name":"Tomoyo","username":"t.fujita+0713@taskel.it","email":"t.fujita+0713@taskel.it","avatarUrl":"https://gravatar.com/avatar/c47b402328a878ac0c4aae1071d2330082af23feaeafcda067cffdabd62b5d7e?s=32&d=mm","isActive":true,"hasPasswordAuth":true,"isManaged":false,"dateJoined":"2022-07-13T07:17:35.722972Z","lastLogin":"2024-11-07T00:18:50.704355Z","has2fa":false,"lastActive":"2024-11-14T04:46:49.814996Z","isSuperuser":false,"isStaff":false,"experiments":{},"emails":[{"id":"2203949","email":"t.fujita+0713@taskel.it","is_verified":true}],"avatar":{"avatarType":"letter_avatar","avatarUuid":null,"avatarUrl":null}},"orgRole":"owner","pending":false,"expired":false,"flags":{"idp:provisioned":false,"idp:role-restricted":false,"sso:linked":false,"sso:invalid":false,"member-limit:restricted":false,"partnership:restricted":false},"dateCreated":"2022-07-13T07:17:35.933354Z","inviteStatus":"approved","inviterName":null,"role":"owner","roleName":"Owner"}]'
  recorded_at: Thu, 14 Nov 2024 06:28:33 GMT
recorded_with: VCR 6.3.1
