<h1>Welcome, This is home page!</h1>
<%if authenticated?%>
    <div> 
        <h4> You are currently logged in as <%=@user.email_address%> </h4>
        <h4> Company: <%=@user.org.name%></h4>
    </div>
<%else%>
    <p>You are currently not logged in <%= button_to 'Sign In', session_path, method: :delete %></p>
<%end%>
