---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v1/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      DD_API_KEY:
      - "<DATADOG_API_KEY>"
      DD_APPLICATION_KEY:
      - "<DATADOG_APP_KEY>"
      DD_SITE:
      - datadoghq.com
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"handle":"a@aaaa.com","name":"\u7530\u4e2d \u512a\u6a39","role":null,"title":null,"email":"a@aaaa.com","disabled":true,"access_role":"ERROR","is_admin":false,"icon":"https://secure.gravatar.com/avatar/0e4a3d30a4797cd4a11a110181d20dae?s=48&d=retro","verified":false},{"handle":"aaaa@taskel.it","name":"\u592a\u90ce
        test","role":null,"title":null,"email":"aaaa@taskel.it","disabled":true,"access_role":"adm","is_admin":true,"icon":"https://secure.gravatar.com/avatar/bb61713697d1665642c442d9bd83d0c0?s=48&d=retro","verified":false},{"handle":"abhijith@raksulindia.onmicrosoft.com","name":"\u5c0f\u6797
        \u592a\u90ce","role":null,"title":null,"email":"abhijith@raksulindia.onmicrosoft.com","disabled":true,"access_role":"ERROR","is_admin":false,"i[...]
