---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=<DROPBOX REFRESH TOKEN>&client_id=e9cehyndwubggjp&client_secret=<DROPBOX
        APP SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-server-response-time:
      - '48'
      x-dropbox-response-origin:
      - far_remote
      x-dropbox-request-id:
      - 070be3f2b3944f4f8ff0abcce3060803
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "",
        "token_type": "bearer", "expires_in": 14400}'
  recorded_at: Wed, 27 Nov 2024 09:54:30 GMT
- request:
    method: post
    uri: https://api.dropbox.com/2/team/members/list_v2
    body:
      encoding: UTF-8
      string: '{"include_removed":true,"limit":20}'
    headers:
      Authorization:
      - "<Bearer token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-server-response-time:
      - '151'
      x-dropbox-trace-id:
      - d6f0c343f9b9426e9066ea1a66d38711
      x-dropbox-response-origin:
      - far_remote
      x-dropbox-request-id:
      - d6f0c343f9b9426e9066ea1a66d38711
    body:
      encoding: ASCII-8BIT
      string: '{"members": [{"profile": {"team_member_id": "dbmid:AAC2REWQKVNKvhiOTxYSdvz2HPeBkAouPB4",
        "account_id": "dbid:AAD9ZVPsmpnqgagXbNTMy4dIvREiYDKmqeg", "email": "abhijith.s@taskel.it",
        "email_verified": false, "secondary_emails": [], "status": {".tag": "removed",
        "is_recoverable": false, "is_disconnected": false}, "name": {"given_name":
        "abhijith", "surname": "s", "familiar_name": "abhijith", "display_name": "abhijith
        s", "abbreviated_name": "AS"}, "membership_type": {".tag": "full"}, "joined_on":
        "2023-12-14T13:25:52Z", "groups": [], "member_folder_id": "1798199347", "root_folder_id":
        "1798199347"}, "roles": [{"role_id": "pid_dbtmr:AAAAAFMcx6E0tax39Kb0H671TzWLeE07dwaqFQ5fDRy2",
        "name": "Team", "description": "Manage everything and access all permissions"}]},
        {"profile": {"team_member_id": "dbmid:AAAc89uU8RxxTfNzRoU4-wVUiLln8cPFtFU",
        "account_id": "dbid:AABHcXsW6A0lXw11eGhCrCAvoN0DBanM_9g", "email": "testsilverstone@gmail.com",
        "email_verified": false, "secondary_emails": [], "status": {".tag": "removed",
        "is_recoverable": false, "is_disconnected": false}, "name": {"given_name":
        "Tom", "surname": "Silverstone", "familiar_name": "Tom", "display_name": "Tom
    [...]
- request:
    method: post
    uri: https://api.dropbox.com/2/team/members/list/continue_v2
    body:
      encoding: UTF-8
      string: '{"cursor":"AAAe1USuxyCHWA7ouaU94Mi4NmS8uTrqtzW7J6xHb34VDrA7uUrRcn7t1gsfh7FkWfjfhe3YCzFYl-A4YhC5OXjoDb1iAI0zqTYVhSfcxnG0yw"}'
    headers:
      Authorization:
      - "<Bearer token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-server-response-time:
      - '194'
      x-dropbox-trace-id:
      - 56ca9fa51b4e4c67b9fe47a3e6f35299
      x-dropbox-response-origin:
      - far_remote
  [...]
[...]
