---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=<DROPBOX REFRESH TOKEN>&client_id=e9cehyndwubggjp&client_secret=<DROPBOX
        APP SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-server-response-time:
      - '46'
      x-dropbox-response-origin:
      - far_remote
      x-dropbox-request-id:
      - dc0a2756a26144f08120d02eeea49cca
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "",
        "token_type": "bearer", "expires_in": 14400}'
  recorded_at: Thu, 21 Nov 2024 07:21:49 GMT
- request:
    method: post
    uri: https://api.dropbox.com/2/team/members/list_v2
    body:
      encoding: UTF-8
      string: '{"include_removed":true,"limit":20}'
    headers:
      Authorization:
      - "<Bearer token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-server-response-time:
      - '164'
      x-dropbox-trace-id:
      - 0d1e596de3354eaab056a421dd402e15
      x-dropbox-response-origin:
      - far_remote
      x-dropbox-request-id:
      - 0d1e596de3354eaab056a421dd402e15
    body:
      encoding: ASCII-8BIT
      string: '{"members": [{"profile": {"team_member_id": "dbmid:AAC2REWQKVNKvhiOTxYSdvz2HPeBkAouPB4",
        "account_id": "dbid:AAD9ZVPsmpnqgagXbNTMy4dIvREiYDKmqeg", "email": "abhijith.s@taskel.it",
        "email_verified": false, "secondary_emails": [], "status": {".tag": "removed",
        "is_recoverable": false, "is_disconnected": false}, "name": {"given_name":
        "abhijith", "surname": "s", "familiar_name": "abhijith", "display_name": "abhijith
        s", "abbreviated_name": "AS"}, "membership_type": {".tag": "full"}, "joined_on":
        "2023-12-14T13:25:52Z", "groups": [], "member_folder_id": "1798199347", "root_folder_id":
        "1798199347"}, "roles": [{"role_id": "pid_dbtmr:AAAAAFMcx6E0tax39Kb0H671TzWLeE07dwaqFQ5fDRy2",
        "name": "Team", "description": "Manage everything and access all permissions"}]},
        {"profile": {"team_member_id": "dbmid:AAAc89uU8RxxTfNzRoU4-wVUiLln8cPFtFU",
        "account_id": "dbid:AABHcXsW6A0lXw11eGhCrCAvoN0DBanM_9g", "email": "testsilverstone@gmail.com",
        "email_verified": false, "secondary_emails": [], "status": {".tag": "removed",
        "is_recoverable": false, "is_disconnected": false}, "name": {"given_name":
        "Tom", "surname": "Silverstone", "familiar_name": "Tom", "display_name": "Tom
    [...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/team/members/list/continue_v2
    body:
      encoding: UTF-8
      string: '{"cursor":"AACUksFh4kG23BUY_B-eUDN5A7iITqWAErWHnKgk7oNGL69BnfeMEvbVgi5B2L8zm0X4ImF5vcO5NbCGtsWR2hEg6oAdUsujuWzdfJgCYYUqZg"}'
    headers:
      Authorization:
      - "<Bearer token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-server-response-time:
      - '157'
      x-dropbox-response-origin:
      - far_remote
      x-dropbox-request-id:
      - b8ede6d62d174130a097af195ec7e402
[...]
